taskName			= "RNASeq_GSE226406"
workspace			= "/mnt/lustre/users/$USER/${taskName}"
workDir				= "${workspace}/work"
metadataDir			= "/mnt/lustre/users/dparkes/RichardOwenRNASeq/metadata"
version                        = "1.4" // cloned from paper_OAC_Trial_RNASeq

//cleanup = true // removes contents of subdirectories in ${workDir} but not the subdirectory structure

manifest {
	author				= "Duncan Parkes <duncan.parkes@ludwig.ox.ac.uk>"
	description 		= "RNASeq workflow set up for GSE226406 from GEO"
	mainScript 			= "run.nf"
	name 				= "RNAseq Analysis"
	version 			= version
}

params {

	version 			= version
	
	// paths
	rScriptDir			= "$PWD/bin"
	
	inputTable			=  "${metadataDir}/RNAseq_input_table_GSE226406.tsv"
	dataDir				= "/mnt/lustre/users/dparkes/RichardOwenRNASeq/data/fastq"
	paired_end			= true
	
	// Tool options - set to true to include in run
	fastqc				= true
	star				= true
	featurecounts		= true
	rnaseqmetrics		= true
	multiplemetrics		= true
	rseqc				= true
	samtools_rrna		= true
	multiqc				= true
	nlanes				= true
			
	// Output and storage dirs
	resultDir			= "${workspace}/Results/${version}.1"
	
	// Genome data
	genomeDir			= "/mnt/lustre/users/ramess/Code/nxf_workflows/ramess/paper_OAC_Trial_RNASeq/ref"
	genomeFile			= "${genomeDir}/GRCh38_ENSEMBL100_GDC_processed.fa"
	dbSNP				= "/mnt/lustre/shared/dbSNP/dbsnp_151.hg38.vcf.gz"
	intervals			= "${genomeDir}/GRCh38_EBV_clean5_main_interval_list"

	// Trimgalore settings
	fwAdapter			= 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
	rvAdapter			= 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
	minOverlap			= 2
	minQuality			= 20
	trimLength			= 0
	
	// FastQC settings
	kmerLength			= 7 // default = 7, range 2 - 10	
	
	// STAR settings
	genomeFastaFiles	= "${genomeDir}/GRCh38_ENSEMBL100_GDC_processed.fa"
	sjdbGTFfile			= "${genomeDir}/GRCh38_GENCODE34_GDC_processed.gtf"
	sjdbOverhang		= 74
	starIndexDir		= "${workspace}/STAR_index"
	starIndex			= 'STAR_v2.7.5_GRCh38_ENSEMBL100_GDC_processed_index_1'

	//featureCounts settings
	// see http://bioinf.wehi.edu.au/subread-package/SubreadUsersGuide.pdf
	//possible updates at https://bioconductor.org/packages/release/bioc/vignettes/Rsubread/inst/doc/SubreadUsersGuide.pdf
	direction				= 2
	GTFfile					= "${params.sjdbGTFfile}"
	type					= "exon" // Specify the feature type
	group					= "gene_id" //Specify the attribute type used to group features (eg. exons) into meta-features (eg. genes) when GTF annotation is provided. ‘gene id’ by default.
		
	// CollectRnaSeqMetrics settings
	ref_flat				= "${genomeDir}/GRCh38_GENCODE34_GDC_ref_flat_gn.txt"
	strand					= 'SECOND_READ_TRANSCRIPTION_STRAND'
	ribo_intervals 			= "${genomeDir}/GRCh38_GENCODE34_GDC_all_rRNA.interval_list.txt"
	

	//CollectMultipleMetrics
	// intervals is defined in Genome data section above - not currently included in options passed to process
	// dbSNP is defined in Genome data section above
	
	// RSeQC and samtools QC settings
	all_rRNA_bedFile 		= "${genomeDir}/GRCh38_GENCODE34_GDC_all_rRNA.bed"
	rRNA_bedFile 			= "${genomeDir}/GRCh38_GENCODE34_GDC_rRNA.bed"
	mt_rRNA_bedFile 		= "${genomeDir}/GRCh38_GENCODE34_GDC_mt_rRNA.bed"
	mt_rRNA_1_bedFile 		= "${genomeDir}/GRCh38_GENCODE34_GDC_mt_rRNA_1.bed"
	mt_rRNA_2_bedFile 		= "${genomeDir}/GRCh38_GENCODE34_GDC_mt_rRNA_1.bed"
	pseudo_rRNA_bedFile 	= "${genomeDir}/GRCh38_GENCODE34_GDC_pseudo_rRNA.bed"
	
	//MultiQC settings
	multiqc_config			= "$PWD/multiqc_config.yaml"
	sample_names			= "${resultDir}/sample_names.tsv"
	
	// Save unaligned reads for STAR
	save_unaligned			= true
	
	// Defaults only, expecting to be overwritten
	max_memory = 128.GB
	max_cpus = 16
	max_time = 24.h

}


report {
	enabled				= true
	file 				= "${workspace}/Log/ExecutionReport.html"
}

trace {
	enabled				= true
	file 				= "${workspace}/Log/trace.tdv"
	fields 				= "task_id,hash,native_id,name,status,exit,duration,realtime,start,attempt,disk,peak_vmem,read_bytes,write_bytes"
}

timeline {
	enabled				= true
	file 				= "${workspace}/Log/Timeline.html"
}

tower {
	accessToken 			= 'eyJ0aWQiOiA3NTgzfS40OTE4NGU5ZGI4NDQwMjlkMGE4NzFhMWYyODM3M2Q1OWJjY2EzOGY1'
	enabled 			= true
}

executor {
	name 				= 'sge'
	queueSize 			= 100
	submitRateLimit		= '20 sec'
}

// Configuration of cluster execution
process {
	executor			= 'sge'
	penv				= 'smp'
	cpus 				= { check_max( 2, 'cpus' ) }
	memory 				= { check_max( 8.GB * task.attempt, 'memory' ) }
	time 				= { check_max( 4.h * task.attempt, 'time' ) }
	
	clusterOptions  	= '-l h_rt=48:00:00 -l h_vmem=6G'
	beforeScript		= "source /opt/flight/etc/setup.sh"
	errorStrategy		= 'ignore' // Finish the whole pipeline as much as possible
	
	withLabel: 'local' {
		executor			= 'local'
	}
	
	withName: pickleScriptVersion {
		executor			= "local"
		publishDir	{
			path				= "${params.resultDir}"
			pattern 			= "*.tar.gz"
			mode 				= "link"
		}
	}
	
	withName: trimReads {
		module 				= 'apps/cutadapt/2.9:apps/trimgalore/0.6.5:apps/pigz/2.4/gcc-4.8.5'
		clusterOptions		= "-l h_rt=24:00:00 -l h_vmem=4G"
		cpus				= 8
		maxForks			= 10
		publishDir	{
			pattern				= "*.txt"
			mode 				= "link"
			path 				= "${params.resultDir}/TrimReports"
			saveAs				= {fileName -> fileName.replaceAll(':', '_')}
		}
	}
	
	withName: runFastQC {
		module 				= 'apps/fastqc/0.11.8/noarch'
		clusterOptions		= "-l h_rt=12:00:00 -l h_vmem=8G"
		cpus				= 2
		publishDir	{
			pattern				= "*.{zip,html}"
			mode 				= "link"
			path 				= "${params.resultDir}/fastqc"
		}
	}
	
	withName: starIndex {
		module			= 'apps/star/2.7.10b/static'
		cpus				= 8
		clusterOptions		= { "-l h_rt=96:00:00 -l h_vmem=${6 + task.attempt*5}G" }
		errorStrategy		= { task.exitStatus > 128?"retry":"ignore" }
		maxRetries			= 3
		publishDir {
			pattern				= "${params.starIndex}"
			mode				= "link"
			path				= "${params.starIndexDir}"
		}
	}
	
	withName: starQuant {
		module 				= 'apps/star/2.7.10b/static:apps/gatk/4.1.7.0/noarch:apps/samtools/1.11.0/clang-11.0.1+htslib-1.11.0'
		cpus				= 8
		maxForks			= 10
		clusterOptions		= { "-l h_rt=96:00:00 -l h_vmem=${20 + task.attempt*10}G" }
		errorStrategy		= { task.exitStatus > 128?"retry":"ignore" }
		maxRetries			= 3
		
		// Ben's elegant fix for multiple publishDir paths, plus a mod by Bob
		publishDir	{
			pattern				= "*{.tab,.out}"
			mode 				= "link"
			path 				= "${params.resultDir}"
			saveAs = {fileName -> fileName.endsWith(".txt")?"STAR/tab/${fileName}":"STAR/Log/${fileName}"}
		}
	}
	
	withName: markDuplicates {
		clusterOptions		= '-l h_rt=72:00:00 -l h_vmem=18G'
		module 				= 'apps/gatk/4.1.7.0/noarch:apps/samtools/1.11.0/clang-11.0.1+htslib-1.11.0'
		cpus			= 10
	}
	
	withName: featureCounts {
		module				= 'apps/subread/2.0.6/static'
		clusterOptions		= "-l h_rt=12:00:00 -l h_vmem=8G"
		cpus				= 4
		
		publishDir	{
			pattern				= "*.featureCounts.txt*"
			mode 				= "link"
			path 				= "${params.resultDir}/featureCounts"
		}
	}
	
	withName: collectMultipleMetrics {
		module 				= 'apps/gatk/4.1.7.0/noarch:apps/samtools/1.11.0/clang-11.0.1+htslib-1.11.0:apps/R/4.0.4/clang-11.0.1+curl-7.69.1+python-3.8.1+zlib-1.2.11'
		clusterOptions		= '-l h_rt=72:00:00 -l h_vmem=16G'
		cpus				= 4
		
		publishDir	{
			pattern				= "*.{pdf,txt}"
			mode 				= "link"
			path 				= "${params.resultDir}/QCMetrics"
		}
	}
	
	withName: collectRnaSeqMetrics {
		module 				= 'apps/gatk/4.1.7.0/noarch:apps/samtools/1.11.0/clang-11.0.1+htslib-1.11.0:apps/R/4.0.4/clang-11.0.1+curl-7.69.1+python-3.8.1+zlib-1.2.11'
		clusterOptions		= '-l h_rt=72:00:00 -l h_vmem=16G'
		cpus				= 4
	
	}
	
	withName: rseqc {
		module				= 'apps/rseqc/5.0.1/gcc-4.8.5+python3-3.8.1+numpy_python38-1.18.3:apps/samtools/1.11.0/clang-11.0.1+htslib-1.11.0'
		clusterOptions		= "-l h_rt=12:00:00 -l h_vmem=12G"
		cpus				= 8
		
	}
	
	withName: samtools_rrna {
		module				= 'apps/python3/3.8.1/gcc-4.8.5:apps/samtools/1.11.0/clang-11.0.1+htslib-1.11.0'
		clusterOptions		= "-l h_rt=12:00:00 -l h_vmem=12G"
		cpus				= 8
	
	}
		
	withName: runMultiQC {
		module				= 'apps/multiqc/1.8/gcc-4.8.5+python3-3.8.1'
		clusterOptions		= "-l h_rt=12:00:00 -l h_vmem=16G"
		cpus				= 8	
	}
	
}


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
